html {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  header{
    height: 100%;
    width: 100%;
  }

  .nav {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px;
    background: #fff;
    position: fixed;
    top: 0;
    margin-left: 0;
    padding: 0;
    margin: 0;
  
  }
  .google_image {
    display: flex;
    align-items: center;
    height: 100%;
    
  }

  .one {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 28%;
  }
  .two{
    width: 25%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
   
    
    
  }
  .create{
    color: rgba(36, 36, 199, 0.701);
    text-transform: capitalize;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    padding: 1rem 1.5rem;
    font-weight: 800;
    border-radius: 5px;
    margin: 4px;
    font-size: medium;
  }
  .create:hover{
    background-color: rgba(174, 174, 216, 0.171);
    color: rgba(112, 112, 139, 0.697);
  }
  .go_to{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #1a73e8;
    border-radius: 5px;
    font-weight: 800;
    padding: 1rem;
    margin: 4px;
    

  }
  .go_to:hover{
    background-color: rgba(7, 7, 203, 0.996);


  }
  .three{
    border-bottom: 2px solid rgba(61, 61, 255, 0.686);
    text-decoration: none;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.724);
    font-size: medium;
    
  }
  .five{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.52);
    font-size: medium;
  }
  .nine{
    color: gray;
    font-size: 1.5rem;
  }

  .seven{
    display: flex;
    font-size: 21px;
    margin-left: 80px;
    margin-top: 90px;
    letter-spacing: .5px;
    /* font: 16px Roboto, Arial, Helvetica, sans-serif; */
    color: #202124;
    
  }
  .tagline{
    font-size: 70px;
    margin-top: 22%;
    font: 900 Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
  }
  .sign-info {
    margin-top: 35px;
    font-size: 21.7px;
    margin-left: 22px;
    line-height:1.625 ;
  }
  .four{
    width: 45%; 
  }
  .six{
    width: 50%;
    margin-top: 20px;
  }

  .hp{
    width: 75%;
  }
  .white{
    display: flex;
    margin-top: 100px;
    font-size: 20px;
  }
  .people{
    display: inline-block;
  
  }
  .us{
    display: flex;
  
    border-bottom: 2px solid green-white;
    
  }
  .royal{
    justify-content: center;
    width: 10px;
    margin-left: 100%;
  }
  .name{
    flex-direction: column;
    justify-content: center;   
    display: flex;
    border: 2px solid gray ;
    padding: 30px;
    
  

  } 
  .hope{
    justify-content: center;
    flex-direction: column;
    display: flex;
    border: 2px solid gray;
    padding: 30px;
    /* margin-bottom: 22px; */

  }
  .help{
  display: flex;
    border: 2px solid gray;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    
  }
  .get_in{
    margin-left: 100px;
  }

  
  hr{
    width: 40px;
    height: 5px;
    background-color: green;
    border: 0;
    margin: 0;
    margin-bottom: 20px;
  
   
  
  }
  .pop{
    background-color: rgba(55, 55, 229, 0.845);
    margin-left: 36px;
    margin-top: 13px;
    
  }
  .pen{
    background-color: orange;
    margin-left: 25px;
    margin-top: 13px;
    /* margin-bottom: 90px; */
  }
  .men {
    margin-left: 30px;
    margin-top: 13px;

  }
  .me {
    top: 0;
    margin-left: 23px;
  }
  .ten{
    text-align: center;
    font-size: 24.5px;
    margin-top: 25px;
    letter-spacing: 3.5px;
    margin-right: 100px;
    margin-left: 100px;
  
  }
  .pen-info {
    margin-left: 22px;
    line-height: 1.625;
  }
  .pens{
    font-size: 50px;
    display: block;
    color: #202124;
  }
  .bnt{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    
  }
  .option-one:hover{
    color: #1a73e8;
  }
  .help-info {
    margin-left: 35px;
    line-height: 1.625;
    font-size: 23.px;
    
  }
  .btn2{
    font-size: 17px;
    width: 30%;
    height: 5px;
    margin-left: 80px;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    counter-reset: gray;
    letter-spacing: 2px;
    line-height: 20px;
  }
  .us {
    margin-left: 35px;
  }
  *{
    margin: 0;
    padding: 0;
}
section{
  width: 100%;
  height: 30vh;
  /* background: gray; */
}
.container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.option-one{
  margin-top: 90px;
width: 33%;
height: 2px;
text-align: center;
cursor: pointer;
}
.stay-info {
  min-width: 100%;
  
}

.alternate{
  width: 40%;
  /* background: blue; */
}
button{
  font-size: 20px;
  padding: 2px;
  width: 100%;
  outline: none;
  border: none;
cursor: pointer;

}

button:focus{
  background: blue;
}
.sunny {
  font-size: 18px;
  line-height: 1.625rem;
  margin: 25px 15% 0 15%;
  letter-spacing: 2.4px;
  line-height: 1.625;
}
.autofill {
  display: flex;
  font-size: 15px;
  margin-left: 81px;
  line-height: 1.625;
}
.mtn {
  width: 45%;
  font-size: 23px;
  margin-top: 8%;
}
.phone {
    width: 60%;
    margin-bottom: 90px;
    margin-left: 3%;
}
.keep{
  font-size: 45px;
  margin-left: 25%;
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #202124;

}
.keeps {
  margin-left: 13%;
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 65px;

}
.keep-info {
  margin-left: 15%;
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 6px;
  letter-spacing: 1px;
}

