*{
    padding: 0;
    margin: 0;
}
main{
    /* background: gray; */
    width: 100%;
    /* height: 100vh; */
}

/* 
=====================================================================================
PHONE VERIFY START
=====================================================================================
*/

div.inputbar1 select[id="town"]{
    width: 85px;
    height: 52px;
}
div.inputbar1 input[type="email2"]{
    width: 275px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #8888884d;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    display: inline-block;
}
div.inputbar1 input[type="email2"]:focus{
    /* border: 2px solid #4389f9; */
    outline-color: #4389f9;
}
select.selectown{
    background: #ffffff;
    color: #000000;
    font-size: 13.33px;
    font-family: arial;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
select.selectown:focus{
    background: #4389f96e;
    outline: none;
}
p.email2{
    color: #888888bb;
    /* display: inline-block; */
    margin-top: 30px;
}
div.angletag2{
    float: right;
    /* display: inline-block; */
    margin-top: 40px;
}

/* 
=====================================================================================
PHONE VERIFY END
=====================================================================================
*/

/* 
=====================================================================================
VERIFY START
=====================================================================================
*/

div.main-box1{
    /* background-color: #0000ff; */
    /* height: 15vh; */
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}
div.inputbar1{
    /* background-color: red; */
    /* height: 25vh; */
    width: 85%;
    margin: 0 auto;
}
div.inputbar1 input[type="email"]{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #8888884d;
    border-radius: 5px;
    padding-left: 60px;
    font-size: 16px;
    /* display: inline-block; */
}
div.inputbar1 input[type="email"]:focus{
    /* border: 2px solid #4389f9; */
    outline-color: #4389f9;
}
div.angletag1{
    float: right;
    display: inline-block;
    margin-top: 40px;
}
p.email1{
    color: #888888bb;
    display: inline-block;
    margin-top: 40px;
}

/* 
=====================================================================================
VERIFY END
=====================================================================================
*/

/* 
=====================================================================================
RECOVERY START
=====================================================================================
*/

div.parent{
    /* background: blue; */
    width: 450px;
    margin: 0 auto;
    margin-left: 543px;
    margin-top: 107px;
    display: inline-block;
}
div.firstbox{
    /* background: brown; */
    height: 69.9vh;
    border-radius: 80x;
    border: 1px solid #8888884d;
    border-radius: 8px;
}
div.main-box{
    text-align: center;
    /* background-color: #0000ff; */
    /* height: 15vh; */
    width: 81%;
    margin: 0 auto;
}
div.main-box p.text{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
}
div.inputbar{
    /* background-color: red; */
    height: 25vh;
    width: 84%;
    margin-left: 40px;
    /* margin: 0 auto; */
    display: inline-block;
}
div.inputbar input[type="email"]{
    width: 336.5px;
    height: 54px;
    display: inline-block;
    margin-top: 34px;
    border: 1px solid #8888884d;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
div.inputbar input[type="email"]:focus{
    /* border: 2px solid #4389f9; */
    outline-color: #4389f9; 
}
nav.button{
    margin-top: 32px;
}
a.next-button,
a.skip-button{
    display: inline-block;
    border: 1px solid #8888884d;
    border-radius: 3px;
    padding: 8.2px 74.9px 8.2px 74.9px;
    text-decoration: none;
    color: #4389f9;
}
a.skip-button{
    margin-right: 1.5px;
}
a.next-button:hover,
a.skip-button:hover{
    background: #fbfafacb;
}

/* 
=====================================================================================
RECOVERY END
=====================================================================================
*/

/* 
=====================================================================================
REVIEW START
=====================================================================================
*/

img.img-review{
    border-radius: 50%;
    width: 30px;
    height: auto;
    display: inline-block;
    margin-top: 5px;
    float: left;
}
nav.img-info{
    display: inline-block;
    margin-left: 10px;
}
div.image-review{
    margin-top: 20px;
}
p.email{
    color: #888888bb;
}
p.number{
    margin-top: 5px;
}
div.phone-review{
    margin-top: 18px;
}
div.angletag{
    float: right;
    display: inline-block;
    margin-top: 50px;
}
a.nextpage{
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    background: #3980f2;
    color: #ffffff;
    border-radius: 5px;
}
a.nextpage:hover{
    background: #4389f9;
}

/* 
=====================================================================================
REVIEW END
=====================================================================================
*/

/* 
=====================================================================================
TERMS AND PRIVACY START
=====================================================================================
*/

div.parent1{
    /* background: aqua; */
    width: 451px;
    margin-left: 534px;
    margin-top: 30px;
    display: inline-block;
}
div.firstbox1{
    /* background: rgba(255, 166, 0, 0.408); */
    /* width: inherit; */
    border: 1px solid #8888884d;
    border-radius: 8px;
    display: inline-block;
}

/*
 images style start
*/
div.img-h1{
    /* background: red; */
    text-align: center;
    margin-top: 43px;
    margin-left: 3px;
}
div.img-h1 img{
    width: 88px;
    margin-bottom: 10px;
}
div.img-h1 h1.text-h1{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    margin-bottom: 10px;
}
/*
images styles end
*/

/*
main style start
*/
div.divparent{
    /* background: rgba(255, 0, 0, 0.582); */
    width: 82%;
    margin: 0 auto;
}
div.div1{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
}
div.div1 p.paragraph1{
    margin-bottom: 15px;
}
div.div1 p.paragraph2{
    margin-bottom: 12px;
}
a.angletag{
    text-decoration: none;
    color: #4389f9;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
}
div.div1 p.titre{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 15.5px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    color: #202124;
    margin-bottom: 16px;
}
div.div1 ol.list-style{
    list-style: disc;
    padding-left: 39px;
    margin-bottom: 12px;
}
select.select{
    color: blue;
    border: none;
    cursor: pointer;
    width: 106px;
    height: 35.5px;
}
select.select:focus{
    background: #4389f96e;
    border-radius: 5px;
}

/* 
RADIO BOX SPECIFICATION START
*/
div.div1 p.titre1{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 15.5px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    color: #202124;
    margin-bottom: 10px;
}
p.save{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    padding-bottom: 14px;
    margin-top: 15px;
    border-bottom: 1px solid #8888884d;
}
input.radiobox{
    width: 50px;
}
p.checkbox{
    margin-top: 29px;
}
p.plus{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* 
RADIO BOX SPECIFICATION END
*/

div.par3{
    margin-top: 20px;
    margin-bottom: 52px;
}
input[type="checkbox"] {
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    width: 50px;
}
a.button-alt{
    margin-left: 217px;
    padding: 9px 23px;
    color: #ffffff;
    background: #0000ff;
    border-radius: 5px;
    font-size: 16px;
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
a.button-alt:hover{
    background: #0000ffcb;
}
nav.button-end{
    margin-bottom: 77.5px;
}
/*
Main Style End
*/

/*
MAIN-FOOTER START
*/
div.lastbox1{
    /* width: 200px; */
    /* height: 48px; */
    padding: 10px 0 10px 0;
}
select.language{
    background: #ffffff;
    color: #000000;
    font-size: 13.33px;
    font-family: arial;
    padding: 11px 5px 11px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
select.language:focus{
    background: #4389f96e;
    outline: none;
}
a.down{
    margin-left: 27.5px;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    text-decoration: none;
}
a.help{
    margin-left: 105px;
}
option.option{
    background: #ffffff;
}
/*
MAIN-FOOTER END
*/

/* 
=====================================================================================
TERMS AND PRIVACY END
=====================================================================================
*/
